.navegacao-medicos{
    -fx-background-color: #AECDF4;
}
.bottom-medicos{
    -fx-background-color: #AECDF4;
}
.texto_navegacao-medicos{
    -fx-font-family: "Roboto Thin";
    -fx-font-style: bold;
    -fx-font-smoothing-type: gray;
    -fx-font-size: 28px;
    -fx-fill: #043f8d;
}
.texto-pesquisar{
    -fx-font-family: "Roboto Thin";
    -fx-font-style: bold;
    -fx-font-smoothing-type: gray;
    -fx-font-size: 15px;
    -fx-fill: #043f8d;
}
.bottom-pesquisar-medicos{
    -fx-font-family: "Roboto Thin";
    -fx-font-style: bold;
    -fx-text-fill: #043f8d;
}